* {
    font-family: Helvetica;
    font-size: 14px;
}


/* navbar */

.navbar-brand {
    padding-left: 50px;
}


/* content awal */

.awal {
    width: 100%;
    background-color: #F1F3FF;
}

.container-fluid #text1 {
    padding-left: 5%;
    padding-top: 8%;
}

#text1 h1 {
    font-size: 36px;
    font-weight: bold;
}


/* why us */

.whyUs {
    margin-left: 50px;
    margin-right: 50px;
}

#whyUsCard {
    height: max-content;
}

#whyUsCard h5 {
    font-size: 16px;
    font-weight: bold;
}


/* testimoni */

#testimonial {
    margin-top: 100px;
    margin-bottom: 100px;
    border: 0;
}


/* kotkak biru */

#kobir {
    height: 326px;
    background-color: #0D28A6;
    border-radius: 20px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


/* faq */

#faqText h3 {
    font-weight: bold;
    font-size: 24px;
}


/* footer */

.sosmed {
    font-size: 25px;
    color: blue;
}


/* media query */

@media (max-width: 576px) {
    #navbarSupportedContent {
        display: none;
    }
    #whyUs #text,
    #faqText {
        text-align: center;
    }
    #tags,
    #clock,
    #medal {
        margin-top: 20px;
    }
    #testi1,
    #testi2,
    #testi3 {
        margin: 32px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #F1F3FF;
        border-radius: 5%;
    }
    .rate1,
    .rate2,
    .rate3 {
        text-align: center;
        margin-bottom: 25px;
    }
    #kobir {
        height: max-content;
        padding-bottom: 10%;
    }
}

@media (min-width: 576px) {
    #kobir {
        padding-top: 5%;
        margin-left: 100px;
        margin-right: 100px;
    }
}